@page "/add-contact"
@using PhoneBookApp.Models

<h3>Add Contact</h3>

<form method="post" action="/add-contact-save">
    <input name="Name" />
    <input name="Phone" />

    <button class="btn btn-success mt-2" type="submit">Add Contact</button>
</form>

@code {

    Contact contact = new Contact();

    void Save()
    {
        ContactsRepository.AddContact(contact);
            
    }
}