@page "/add-contact"
@using PhoneBookApp.Models
@inject NavigationManager Nav
@inject phonemanagement.Services.IContactsStore Store
@rendermode InteractiveServer

<h3>Add Contact</h3>

<EditForm Model="contact" OnValidSubmit="Save">
    <InputText @bind-Value="contact.Name" class="form-control mb-2" placeholder="Name" />
    <InputText @bind-Value="contact.Phone" class="form-control mb-2" placeholder="Phone" />
    <InputText @bind-Value="contact.Email" class="form-control mb-2" placeholder="Email" />

    <InputSelect @bind-Value="contact.Gender" class="form-control mb-2">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </InputSelect>

    <button class="btn btn-success mt-2" type="submit">Add Contact</button>
</EditForm>

@code {
    Contact contact = new Contact { Gender = "Male" };

    async Task Save()
    {
        await Store.AddAsync(contact);
        Nav.NavigateTo("/contacts");
    }

}