@page "/contacts"
@using PhoneBookApp.Models
@rendermode InteractiveServer

<input class="form-control mb-2"
       placeholder="Search by name and phone..."
       @bind="SearchText"
       @bind:event="oninput" />

<ul>
    @foreach (var contact in contacts)
    {
        <li>
            <span style="color:@(contact.Gender == "Female" ? "red" : "green"); font-weight:bold;">
                -
            </span>
            @contact.Name - @contact.Phone

            <a class="btn btn-sm btn-warning me-2" href="/edit-contact/@contact.Id">Edit</a>
            <button class="btn btn-sm btn-danger" @onclick="() => Delete(contact.Id)">
                Delete
            </button>
        </li>
    }
</ul>

@code {
    private List<Contact> contacts = new();

    private string searchText = "";
    string SearchText
    {
        get => searchText;
        set
        {
            searchText = value;

            if (string.IsNullOrWhiteSpace(searchText))
            {
                contacts = ContactsRepository.GetContacts();
            }
            else
            {
                contacts = ContactsRepository.SearchContacts(searchText);
            }
        }
    }

    protected override void OnInitialized()
    {
        contacts = ContactsRepository.GetContacts();
    }

    void Delete(int id)
    {
        ContactsRepository.DeleteContact(id);
        contacts = ContactsRepository.GetContacts();
    }
}