@page "/edit-contact/{Id:int}"
@using PhoneBookApp.Models
@inject NavigationManager Nav
@inject phonemanagement.Services.IContactsStore Store
@rendermode InteractiveServer

<h3>Edit Contact</h3>

@if (contact != null)
{
    <EditForm Model="contact" OnValidSubmit="Update">
        <InputText @bind-Value="contact.Name" class="form-control mb-2" />
        <InputText @bind-Value="contact.Phone" class="form-control mb-2" />
        <InputText @bind-Value="contact.Email" class="form-control mb-2" />

        <InputSelect @bind-Value="contact.Gender" class="form-control mb-2">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </InputSelect>

        <button class="btn btn-success mt-2" type="submit">Save</button>
    </EditForm>
}

@code {
    [Parameter] public int Id { get; set; } 


    Contact? contact;

    protected override async Task OnInitializedAsync()
    {
        contact = await Store.GetByIdAsync(Id);
    }

    async Task Update()
    {
        if (contact != null)
        {
            await Store.UpdateAsync(contact);
            Nav.NavigateTo("/contacts");
        }
    }
}