@page "/edit-contact/{Id:int}"
@using PhoneBookApp.Models
@using Microsoft.AspNetCore.Components




<h3>Edit Contact</h3>

@if (contact != null)
{


    <form method="post" action="/edit-contact-save/@Id">

        <input name="Name" value="@contact.Name" />
        <input name="Phone" value="@contact.Phone" />

        <button class="btn btn-success mt-2" type="submit"> Save </button>

    </form>
}

@code {
    [Parameter]
    public int Id { get; set; }

    Contact? contact;

    protected override void OnInitialized()
    {
        contact = ContactsRepository.GetContactById(Id);
    }
}